# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
dist/
.venv/
db.sqlite3
media/

# Node
node_modules/
dist/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local
